
body{
    background:url(../assets/FirstLogo.png) fixed center;
    background-size: 80%;
    background-color: rgba(235, 229, 229, 0.753);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.25em;
}
.main-wrapper{
    
    text-align: center;
}
.header-repos{
    
    position: absolute;
    left: 20%;
    right: 20%;
}
h1{
    font-size: 2em;
    font-weight: 1000;
    color: #cc9543;
    text-shadow: 2px 1px 0.5px black;
}

.odin-project{
    color: #cc9543;
    text-shadow: 2px 1px 0.5px black;
}

ul{
    list-style-type: none;
    margin: 1em;
    padding:0.5em;
}
.breaker{
    display: inline-block;
    margin: 0 auto;
    width: 70%;
    height: 1px;
    border: 1px solid #db8f0c;
    border-radius: 3.5px;
    background-color: #db8f0c;
    
}

.repo-list .link{
    padding: 1em;
    border: 1px solid grey;
    transition: 0.5s;
    border-radius: 1em;
    margin: 2em;
}

.repo-list .link:hover{
    background-color: #db8f0cc7;
    transition: 0.5s;
    /*transition-delay: 1s;*/
}
.repo-list a{
    text-decoration: dashed;
    font-weight: bolder;
}
a:link{
    color: rgb(54, 52, 52);
}
a:visited{
    color: rgb(54, 52, 52);
}
a:visited:hover{
    color: rgb(54, 52, 52);
}